# Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
#  - 1.0
#  - 1.1
#  - 1.2
  - 1.3
  - 1.5
  - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
  email: false
after_success:
 - julia -e 'import Pkg; Pkg.add("Coverage"); using Coverage; Coveralls.submit(process_folder())'

